*/node_modules/**/*
*/.expo/**/*
*.log
*.pot
*.py[co]
*.DS_Store
rapidsms.log
*.mo
*~
*.db
*.orig
webpack-stats.json
.env
.idea
SaltStack/*
SaltPillar/*
*.backup
.coverage
htmlcov
bower_components
node_modules
build-static
*/bundles/*
.DS_Store
*.swp
build/
*.pbxuser
*.perspective
*.perspectivev
*.mode1v3
*.mode2v3
*.perspectivev3
*.info
*.pyc
*.log
*.xccheckout
ImmoScoutWohnen.xcodeproj/xcuserdata/*
ImmoScoutWohnen.xcworkspace/xcshareddata/xcdebugger
ImmoScoutWohnen.xcodeproj/project.xcworkspace/xcuserdata/*
xcuserdata
deps/libOAuth/libOAuth.xcodeproj/xcuserdata/*
deps/libOAuth/libOAuth.xcodeproj/project.xcworkspace/xcuserdata/*
deps/libjson-framework/JSON.xcodeproj/project.xcworkspace/xcuserdata/*
deps/libjson-framework/JSON.xcodeproj/xcuserdata/*
deps/libasi-http-request/asi-http-request.xcodeproj/project.xcworkspace/xcuserdata/*
deps/libasi-http-request/asi-http-request.xcodeproj/xcuserdata/*
xcuserdata/*
**.xcscmblueprint
deps/codecover/build
deps/codecover/html
IS24-Wohnen.xcworkspace/xcuserdata/magha.xcuserdatad/UserInterfaceState.xcuserstate
IS24-Wohnen.xcworkspace/xcuserdata/oschoen.xcuserdatad/UserInterfaceState.xcuserstate
IS24-Base.xcodeproj/xcuserdata/*
IS24-Base.xcodeproj/project.xcworkspace/xcuserdata/*
IS24-Migration.xcodeproj/xcuserdata/*
IS24-Migration.xcodeproj/project.xcworkspace/xcuserdata/*
*.gcno
*.gcda
artifacts
target
IS24-Migration/.idea
ios-wohnen.iml
.idea/misc.xml
.idea/modules.xml
.idea/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
scope_settings.xml
atlassian-ide-plugin.xml
*.iml
.idea
Rollout-ios-SDK/Rollout/RolloutSwizzlerDynamic.include
Rollout-ios-SDK/.cache/
scripts/copy-of-podfile-for-script
*/*.xcuserstate 
node_modules/
.expo/
npm-debug.*
# Built application files
*.apk
*.ap_
*.ipa
*.dSYM.zip

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/
out/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

# Keystore files
*.jks

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json
