*/node_modules/**/*
*/.expo/**/*
*.log
*.pot
*.py[co]
*.DS_Store
rapidsms.log
*.mo
*~
*.db
*.orig
webpack-stats.json
.env
.idea
SaltStack/*
SaltPillar/*
*.backup
.coverage
htmlcov
bower_components
node_modules
build-static
*/bundles/*
